@* baseImageList Template File *@
@(param: Any)
<style>
.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db; /* change color */
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.hiddenRow {
    padding: 0 !important;
    }
</style>
<script type="text/javascript" src="@routes.Assets.versioned("js/baseImageList.js")"></script>

<div class="portlet">
	<div class="portlet-title"></div>
    <div class="portlet-body">
    	<div class="widget">
        <!--widget-head start-->
        	<div class="widget-header transparent">
            	<h2><i class="fa fa-bars"></i><span class="text-uppercase"> BaseImage List</span></h2>
			</div>
		<!--widget-head end-->
		<!--widget-contents start-->
		 
        <div class="widget-content padding ">
        	<div class="data-table-toolbar">
            	<span class="text-uppercase"> BaseImage Search </span>	
				<div class="row">
					<div class="col-md-2">
						<select class="form-control selectpicker" id="osTypeSelect">
                        	<option>Ubuntu</option>
                            <option>Centos</option>                            
                        </select>
					</div>							
					<div class="col-md-2">
						<select class="form-control selectpicker" id="baseImageSearchSelect">
                        	<option>ImageName</option>
                            <option>DockerFile</option>
                            <option>Description</option>
                            <option>User ID</option>
                        </select>
					</div>																				
					<div class="col-md-4">
						<div class="toolbar-btn-action">
							<div id="baseImageSearchInput">
								<input type='text' id="baseImageSearchInp" class='form-control' placeholder='Insert search value....'>
							</div>																												
						</div>
					</div>
					<a class="btn btn-green-3" id="baseImageSearchBtn"> Search </a>
					<a class="btn btn-primary" id="initBaseImageList"><i class="fa fa-refresh"></i> Refresh</a>
				</div>
			</div>
		</div>
		 
		<!--widget-head end-->
		<!-- form start -->
		<div class="job-list-body " >
			<table class="table table-hover table-striped" style="border-collapse:collapse;" class="table table-hover table-condensed">
				<thead>
					<tr id="imageHead">								
						<th >BaseImage Name</th>
						<th> OsType</th>
	<!--  					<th id='script'>Script</th>-->
						<th>Description</th>
						<th>User ID</th>                																					
					</tr>
				</thead>
		<!--  modify colspan=6 later  -->
				<tbody class="job-list-table" id="baseimage-list-table" name="aaa"></tbody>
			</table>	
		</div>   
		<!-- form end -->
		<div class="col-md-12" style="text-align:center; background:#f9f9f9">
			<ul class="pager">
  				<li class="previous" id="baseImagePrevious"><a><h5><i class="fa fa-arrow-left"></i><span class="text-uppercase"> previous</span></h5></a></li>                                        		                                        	
  				<li class="next" id="baseImageNext"><a><h5><span class="text-uppercase">next </span><i class="fa fa-arrow-right"></i></h5></a></li>
			</ul>
			<!--  <button class="btn  btn-default btn-block"  id="moreButton" type="submit">더 보기</button>-->
		</div>
		</div>
	</div>
</div>

