@* baseimageupload Template File *@

			
								   
                       <!-- BEGIN Portlet PORTLET Job Create-->
                        <div class="portlet">
                            <div class="portlet-title">
                            </div>
                            <div class="portlet-body">
                                <div class="widget">
                                    <!--widget-head start
                                    <div class="widget-header transparent">
                                        <h2>
                                            <i class="fa fa-pencil-square-o"></i> 
                                            <span class="text-uppercase"> Upload Bundle</span>
                                        </h2>
							        </div>
							        
							        -->
                                    <!--widget-head end-->
                                    <!--widget-contents start-->
                                    <div class="widget-content padding ">
							        </div>
                                    <!--widget-head end-->
                                    <!-- form start -->
                                        <div class="form-horizontal" >
                                        	<div class="form-group">
                                              <div class="col-sm-4">
                                              </div>
                                            </div>
                                            <div class="form-group">
                                              <label class="control-label col-sm-2" for="baseImageName">BaseImage Name:</label>
                                              <div class="col-sm-4">
                                                <input class="form-control" id="baseImageName" name="baseImageName" placeholder="Enter BaseImage Name!">
                                              </div>
                                            </div>
                                            <div class="form-group">
                                              <label class="control-label col-sm-2" for="script">Script:</label>
                                              <div class="col-sm-4">
                                                <textarea class="form-control" id="script" name="script" placeholder="Enter BaseImage's Script!"/>
                                              </div>
                                            </div>
                                            <div class="form-group">
                                              <label class="control-label col-sm-2" for="description">Description:</label>
                                              <div class="col-sm-4">
                                                <textarea class="form-control" id="des" name="description" placeholder="Enter BaseImage's Description!"/>
                                              </div>
                                            </div>
                                            <div class="form-group"> 
                                                <div class="col-sm-offset-9 col-sm-3" >
                                                    <button type="cancel" class="btn btn-default">Clear</button>
                                                     <button type="button" class="btn btn-green-3" id ="store-button" >Store BaseImage</button>                                                 
                                                </div>
                                            </div>
                                        </div>                   
                                    <!-- form end -->
						         </div>
                            </div>
                        </div>
                       <!-- END Portlet PORTLET Job Create-->
                       <!-- BEGIN Portlet PORTLET Job List-->
                        <div id="baseImagelist">
                        
                      </div>
                      
	