@* exeupload Template File *@

			

								   
                       <!-- BEGIN Portlet PORTLET Job Create-->
                        <div class="portlet">
                            <div class="portlet-title">
                            </div>
                            <div class="portlet-body">
                                <div class="widget">
                                    <!--widget-head start
                                    <div class="widget-header transparent">
                                        <h2>
                                            <i class="fa fa-pencil-square-o"></i> 
                                            <span class="text-uppercase"> Upload Bundle</span>
                                        </h2>
							        </div>
							        
							        -->
                                    <!--widget-head end-->
                                    <!--widget-contents start-->
                                    <div class="widget-content padding ">
							        </div>
                                    <!--widget-head end-->
                                    <!-- form start -->
                                        <div class="form-horizontal" >
                                        	<div class="form-group">
                                              <div class="col-sm-4">
                                              </div>
                                            </div>
                                            <div class="form-group">
                                              <label class="control-label col-sm-2" for="exeName">Exe Name:</label>
                                              <div class="col-sm-4">
                                                <input class="form-control" id="exeName" name="exeName" placeholder="Enter Exe Name!">
                                              </div>
                                            </div>
                                            <div class="form-group">
                                              <label class="control-label col-sm-2" for="exeDescription">Description:</label>
                                              <div class="col-sm-4">
                                                <textarea class="form-control" id="exeDescription" name="exeDescription" placeholder="Enter Exe's Description!"/>
                                              </div>
                                            </div>
                                            <div class="form-group">
                                            	<label class="control-label col-sm-2" for="exe">Exe:</label>
                                              		<div class="col-sm-4">
                                              			<form id="exeForm" enctype='multipart/form-data'>
															<div class="form-group" id="exediv">
															
																<input type="file" name ="exe" id="exe"/>
															</div>					
														</form>
                                               		</div>                                             	
											</div>
                                            <div class="form-group"> 
                                                <div class="col-sm-offset-9 col-sm-3" >
                                                    <button type="cancel" class="btn btn-default">Clear</button>
                                                     <button type="button" class="btn btn-green-3" id ="upload-exeButton" >Upload Exe</button>                                                 
                                                </div>
                                            </div>
                                        </div>                   
                                    <!-- form end -->
						         </div>
                            </div>
                        </div>
                       <!-- END Portlet PORTLET Job Create-->
                       <!-- BEGIN Portlet PORTLET Job List-->
                        <div id="exelist">
                        
                      </div>
                      
	