@* jobCreate Template File *@


				   
                       <!-- BEGIN Portlet PORTLET Job Create-->
                        <div class="portlet">
                            <div class="portlet-title">
                            </div>
                            <div class="portlet-body">
                                <div class="widget">
                                    <!--widget-head start-->
                                    <div class="widget-header transparent">
                                        <h2>
                                            <i class="fa fa-pencil-square-o"></i> 
                                            <span class="text-uppercase"> Job Create</span>
                                        </h2>
							        </div>
                                    <!--widget-head end-->
                                    <!--widget-contents start-->
                                    <div class="widget-content padding ">
							        </div>
                                    <!--widget-head end-->
                                    <!-- form start -->
                                        <div class="form-horizontal" >
                                            <div class="form-group">
                                              <label class="control-label col-sm-2" for="jobName">Job Name:</label>
                                              <div class="col-sm-4">
                                                <input class="form-control" id="jobName" name="jobName" placeholder="Enter Job Name!">
                                              </div>
                                            </div>
                                        <!--       <div class="form-group">
                                                <label class="col-sm-2 control-label">Job Type</label>
                                                <div class="col-sm-2">
                                                    <select class="form-control selectpicker" id="jobType" name="jobType" >
                                                      <option>Normal</option>
                                                      <option>Parent</option>
                                                      <option>Child</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group" id="parentInfodiv">
                                              <label class="control-label col-sm-2" for="parentInfo">Parent:</label>
                                              <div class="col-sm-4" >
                                                <input class="form-control" id="parentInfo" name="parentInfo" placeholder="Enter parent job name!" value="">
                                              </div>
                                            </div>
                                            -->
                                            <div class="form-group">
                                              <label class="control-label col-sm-2" for="cpu">CUP:</label>
                                              <div class="col-sm-4">
                                                <input class="form-control" id="cpu" name="cpu" placeholder="Enter the Number of CPU cores!" value="1">
                                              </div>
                                            </div>
                                             <div class="form-group">
                                              <label class="control-label col-sm-2" for="mem">Memory:</label>
                                              <div class="col-sm-4">
                                                <input class="form-control" id="mem" name="mem" placeholder="Enter memory size!" value="512">
                                              </div>
                                            </div>
                                            <div class="form-group"> 
                                                <div class="col-sm-offset-9 col-sm-3" >
                                                    <button type="cancel" class="btn btn-default">Clear</button>
                                                     <button type="button" class="btn btn-green-3" id ="create-button" >Create</button>                                                 
                                                </div>
                                            </div>
                                            
                                                                                        
                                        </div>                   
                                    <!-- form end -->
						         </div>
                            </div>
                        </div>
                        
                       <!-- END Portlet PORTLET Job Create-->
                       <!-- BEGIN Portlet PORTLET Job List-->
                       
                        <div id="list">
                        
                      	</div>
                       <!-- END Portlet PORTLET Job List-->
             
                       

				   
