@* message Template File *@
@(param: Any)
<style>
#textbox {
    /*
    width: 100vw;
    height: 100vh;
    */
    
    width:950px;
    height:700px;
    
    font-size: 24px;
    /* Gray background to highlight the textbox */
    background-color: #F8F8F8;
    
    /* Center text with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
</style>
 



		
<div class="row">
	<div class="col-lg-6">
	<ul class="nav nav-tabs" id="tableTab">
				<li>
					<a href="#baseImagePage" id="baseImageNav">
						<div class="widget-header transparent">
                        	<h3>
                            	<i class="fa fa-pencil-square-o" ></i> 
                                	<span class="text-uppercase">BaseImage</span>
                            </h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#scriptPage" id="scriptNav">
						<div class="widget-header transparent">
                        	<h3>
                            	<i class="fa fa-pencil-square-o" ></i> 
                                	<span class="text-uppercase">Script</span>
                            </h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#bundlePage" id="bundleNav" >
						<div class="widget-header transparent">
                        	<h3>
                            	<i class="fa fa-upload" ></i> 
                                	<span class="text-uppercase">Bundle</span>
                            </h3>
						</div>
					</a>
				</li>
				<!-- <li><a id=bundleNav href="#bundlePage">bundeUpload</a></li> -->
				<li >
					<a href="#exePage" id="exeNav">
						<div class="widget-header transparent">
                        	<h3>
                            	<i class="fa fa-upload" ></i> 
                                	<span class="text-uppercase">Exe</span>
                            </h3>
						</div>
					</a>
				</li>								
			</ul>
			<div class="tab-content">
				<div class="tab-pane" id="baseImagePage"></div>
				<div class="tab-pane" id="scriptPage"></div>
				<div class="tab-pane" id="bundlePage"></div>
				<div class="tab-pane" id="exePage"></div>				
			</div>
	</div>
	<div class="col-lg-6">
	<div class="col-lg-6">
		<div class="form-group" id="group1">
			<label class="col-sm-4 control-label">
				<h5>
                   <i class="fa fa-pencil-square-o" ></i> 
                   <span class="text-uppercase">Job Mode</span>
                </h5>
            </label>
			<div class="col-sm-4">
				<select class="form-control selectpicker" id="mode" name="mode" >
    	   			<option>Single</option>
       				<option>Pair</option>
	       	</select>
   			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="form-group" >
			<form id="fileForm" enctype='multipart/form-data'>
				<h5>
                   <i class="fa fa-upload" ></i> 
                   <span class="text-uppercase">Input data 1</span>
                </h5>
				<div class="form-group" id="filediv">
					<input type="file" name ="file" id="file"/>
				</div>
				<h5>
                   <i class="fa fa-upload" id="inputdata2i"></i> 
                   <span class="text-uppercase" id="inputdata2">Input data 2</span>
                </h5>
				<div class='form-group' id='file2div'>
					<input type='file' name ='file2' id='file2'/>
				</div>
			</form>
		</div>		
	</div>
	<div><!-- dialog -->
    	<textarea id="textbox" placeholder="Write Your Pipeline Script here!"></textarea>
    	<button type="button" id="finish-button" class="btn btn-green-3">SUBMIT	!</button>
	</div><!-- modal -->
	</div>	
</div>

<script src="@routes.Assets.versioned("js/message.js")" ></script>
	
 
