@* constitute Template File *@
<!-- 		<link rel="stylesheet" href="@routes.Assets.versioned("css/d3.css")" type="text/css">
    	<link rel="stylesheet" href="@routes.Assets.versioned("libs/pipeline/step-form-wizard/css/step-form-wizard-all.css")" type="text/css">  
    	
                    		<div id="wizard_example2"> 
                    		 
                   			<fieldset>
                   			
 								<legend>Pipeline-Consitute</legend>
                   				<label>
                   				test                   				
                   				<div class="btn-group">
                   						<button type="button" class="btn btn-primary" onclick="addButton('test');">ADD</button>
                   						
                   						<button type="button" class="btn btn-primary" onclick="deleteButton('test');">DELETE</button>
                   				</div>
                   				</label>
                   					<label>
                   				test2                   				
                   				<div class="btn-group">
                   						<button type="button" class="btn btn-primary" onclick="addButton('test2');">ADD</button>
                   						
                   						<button type="button" class="btn btn-primary" onclick="deleteButton('test2');">DELETE</button>
                   				</div>
                   				</label>
                   					<label>
                   				test3                   				
                   				<div class="btn-group">
                   						<button type="button" class="btn btn-primary" onclick="addButton('test3');">ADD</button>
                   						
                   						<button type="button" class="btn btn-primary" onclick="deleteButton('test3');">DELETE</button>
                   				</div>
                   				</label>
                      			
                      			
                      	 		<input class="sf-right sf-btn" id="addStep-button" value="COMMIT"/> 
                   			
                       	 </fieldset>                       	 
							</div>								

   
    <script src="@routes.Assets.versioned("libs/main/jquery/jquery-2.1.4.min.js")"></script>
     <script src="@routes.Assets.versioned("libs/pipeline/jquery-validation/jquery.validate.min.js")"></script>    
	<script src="@routes.Assets.versioned("libs/pipeline/step-form-wizard/js/step-form-wizard.js")"></script>
	<script type="text/javascript" src="@routes.Assets.versioned("libs/main/ajax-cross-origin/js/jquery.ajax-cross-origin.min.js")"></script>
	<script src="@routes.Assets.versioned("js/create-pipeline.js")"></script>
	
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="@routes.Assets.versioned("js/dagre-d3.js")"></script>
    <script src="@routes.Assets.versioned("js/d3-script.js")"></script>  -->
	
   									     		