@* demo Template File *@
@(param: Any)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dashboard | Coco - Responsive Bootstrap Admin Template</title>   
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="description" content="">
        <meta name="keywords" content="coco bootstrap template, coco admin, bootstrap,admin template, bootstrap admin,">
        <meta name="author" content="Huban Creative">
        
        <link rel="stylesheet" href="@routes.Assets.versioned("libs/pipeline/mcustom-scrollbar/jquery.mCustomScrollbar.min.css")">
		<link href="@routes.Assets.versioned("libs/main/jqueryui/ui-lightness/jquery-ui-1.10.4.custom.min.css")" rel="stylesheet" /> 
        <link href="@routes.Assets.versioned("libs/main/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
        <link href="@routes.Assets.versioned("libs/main/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />
        <link href="@routes.Assets.versioned("libs/main/fontello/css/fontello.css")" rel="stylesheet" />
        <link href="@routes.Assets.versioned("libs/main/animate-css/animate.min.css")" rel="stylesheet" />
         <link href="@routes.Assets.versioned("libs/main/nifty-modal/css/component.css")" rel="stylesheet" /> 
         <link href="@routes.Assets.versioned("libs/main/magnific-popup/magnific-popup.css")" rel="stylesheet" />  
         <link href="@routes.Assets.versioned("libs/main/ios7-switch/ios7-switch.css")" rel="stylesheet" />  
        <link href="@routes.Assets.versioned("libs/main/pace/pace.css")" rel="stylesheet" />
        <link href="@routes.Assets.versioned("libs/main/sortable/sortable-theme-bootstrap.css")" rel="stylesheet" />
        <!-- <link href="@routes.Assets.versioned("libs/main/bootstrap-datepicker/css/datepicker.css")" rel="stylesheet" /> -->
        <link href="@routes.Assets.versioned("libs/main/jquery-icheck/skins/all.css")" rel="stylesheet" />
         <link href="@routes.Assets.versioned("libs/main/bootstrap-dialog/css/bootstrap-dialog.min.css")" rel="stylesheet" />
        <!-- Code Highlighter for Demo -->
        <link href="@routes.Assets.versioned("libs/main/prettify/github.css")" rel="stylesheet" />
        <!-- Extra CSS Libraries Start nav logo 정의 -->
        <link href="@routes.Assets.versioned("libs/main/bootstrap-select/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />
 
        <link href="@routes.Assets.versioned("css/style.css")" rel="stylesheet" type="text/css" />
        <!-- Extra CSS Libraries End -->
        <link href="@routes.Assets.versioned("css/style-responsive.css")" rel="stylesheet"/> 
	

	</head>
	
	<body>
	<div id="uploadWin" name="uploadWin">
	</div>
		
	</body>
	
	<script src="@routes.Assets.versioned("libs/main/jquery/jquery-2.1.4.min.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/bootstrap/js/bootstrap.min.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/jqueryui/jquery-ui-1.10.4.custom.min.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/jquery-ui-touch/jquery.ui.touch-punch.min.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/jquery-detectmobile/detect.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/jquery-animate-numbers/jquery.animateNumbers.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/ios7-switch/ios7.switch.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/fastclick/fastclick.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/jquery-blockui/jquery.blockUI.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/bootstrap-bootbox/bootbox.min.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/jquery-slimscroll/jquery.slimscroll.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/jquery-sparkline/jquery-sparkline.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/nifty-modal/js/classie.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/nifty-modal/js/modalEffects.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/sortable/sortable.min.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/bootstrap-fileinput/bootstrap.file-input.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/bootstrap-select/bootstrap-select.min.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/bootstrap-select2/select2.min.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/magnific-popup/jquery.magnific-popup.min.js")"></script> 
	<script src="@routes.Assets.versioned("libs/main/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/jquery-icheck/icheck.min.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/pace/pace.min.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/raphael/raphael-min.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/morrischart/morris.min.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/jquery-knob/jquery.knob.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/jquery-jvectormap/js/jquery-jvectormap-us-aea-en.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/jquery-clock/clock.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/jquery-easypiechart/jquery.easypiechart.min.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/jquery-weather/jquery.simpleWeather-2.6.min.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/bootstrap-xeditable/js/bootstrap-editable.min.js")"></script>
	<script src="@routes.Assets.versioned("libs/main/bootstrap-calendar/js/bic_calendar.min.js")"></script>
	 <script src="@routes.Assets.versioned("libs/main/bootstrap-dialog/js/bootstrap-dialog.min.js")"></script> 
	<script src="@routes.Assets.versioned("js/apps/calculator.js")"></script>
	<script src="@routes.Assets.versioned("js/apps/todo.js")"></script>
	<script src="@routes.Assets.versioned("js/apps/notes.js")"></script>

	<script src="@routes.Assets.versioned("js/uploadWin.js")"></script>
		
	
	</html>