@* uploadPage Template File *@
   				
			<ul class="nav nav-tabs" id="uploadTab">
		<!--  		
			<li style= "background-color: #ffffff !important;">
					<a href="#baseImagePage" id="baseImageNav">
						<div class="widget-header transparent">
                        	<h4>
                            	<i class="fa fa-pencil-square-o" ></i> 
                                	<span class="text-uppercase">Upload BaseImage</span>
                            </h4>
						</div>
					</a>
				</li>
				-->
				<li style= "background-color: #ffffff !important;">
					<a href="#scriptPage" id="scriptNav">
						<div class="widget-header transparent">
                        	<h4>
                            	<i class="fa fa-pencil-square-o" ></i> 
                                	<span class="text-uppercase">Upload Script</span>
                            </h4>
						</div>
					</a>
				</li>
				<li style= "background-color: #ffffff !important;">
					<a href="#bundlePage" id="bundleNav" >
						<div class="widget-header transparent">
                        	<h4>
                            	<i class="fa fa-upload" ></i> 
                                	<span class="text-uppercase"> Upload Bundle</span>
                            </h4>
						</div>
					</a>
				</li>
				<!-- <li><a id=bundleNav href="#bundlePage">bundeUpload</a></li> -->
				<li style= "background-color: #ffffff !important;">
					<a href="#exePage" id="exeNav">
						<div class="widget-header transparent">
                        	<h4>
                            	<i class="fa fa-upload" ></i> 
                                	<span class="text-uppercase">Upload Exe</span>
                            </h4>
						</div>
					</a>
				</li>								
			</ul>
			<div class="tab-content">				
			<!--  	<div class="tab-pane" id="baseImagePage"></div>-->
				<div class="tab-pane" id="scriptPage"></div>
				<div class="tab-pane" id="bundlePage"></div>
				<div class="tab-pane" id="exePage"></div>				
			</div>
		
    	
    	<script src="@routes.Assets.versioned("js/uploadPage.js")"></script>			